*,
*::before,
*::after {
    box-sizing: border-box;
}
html,body,.wrapper {
    height: 100%;
    margin:0;
    padding:0;
}
/*start of styling for body*/
body {
    font-family: sans-serif;
    background-color:cornsilk;
}
/*end of body style*/
/*start of styling for wrapper*/
.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
/*end of wrapper style*/
/*beginning of style for header*/
header {
    text-align: center;
    padding:20px;
    padding-top:0px;
    color: grey;
}
/*end of header style*/
/*Beginning of styling code for hero*/
.hero {
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0,0,0,0.15) 0px 2px 8px 0px;
    color:dimgray;
    font-size:18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}
.hero_header::after {
    content: "";
    display:block;
    width:100%;
    background:#e7e9eb;
    height: 1px;
}
.hero_body {
min-height:100px;
}
.hero_footer {
    text-align:center;
}
.hero_footer::before {
    content:"";
    display:block;
    width:100%;
    background:#e7e9eb;
    height:1px;
}
.hero_footer::after {
    content:"";
    display:block;
    clear:both;
}
/*end of hero style*/
/*Start of Button code*/
.btn {
    border: none;
    background-color: red;
    border-radius:25px;
    box-shadow: rgba(0,0,0,0.15) 0px 1px 6px 0px rgba(0,0,0,0.15) 0px 1px 1px 0px;
    color: whitesmoke;
    display:inline-block;
    font-size:25px;
    line-height:25px;
    margin: 20px 20px 20px 24px;
    padding: 14px 34px;
    text-align:center;
    cursor: pointer;
}
button[disabled] {
    cursor:default;
    background: lightskyblue;
}
/*end of button code*/
.float-right {
    float:right;
}
/*Start of Password code*/
#password {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    padding: 15px 15px 15px 85px;
    font-size: 1.2rem;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed dimgray;
    border-radius:6px;
    resize:none;
    overflow:hidden;
}
/*end of password code*/
/*start of media code*/
@media (max-width:690px) {
    .btn {
        font-size:1rem;
        margin: 16px 0px 0px 0px;
        padding: 10px 15px;
    }
    #password {
        font-size:1rem;
    }
}
@media (max-width:500px) {
    .btn {
        font-size:1rem;
    }
}
/*end of media code*/